.button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 3px solid var(--color-brand-active);
  color: var(--color-light);
  background-color: var(--color-brand-active);
  transition: border .3s ease-in-out;
}

.button:hover {
  border: 3px solid var(--color-primary-disabled)
}