.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__desc {
    width: 50%;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    text-align: center;
  }
}