.addMovie {
  padding-top: 64px;
  padding-bottom: 64px;

  &__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__form > label {
    width: 100%;

    & > input {
      width: 100%;
      padding: 10px 20px;
      outline: none;
      border: 1px solid var(--color-secondary);
      border-radius: 16px;
      color: var(--color-light);
      background-color: inherit;
    }

    & > textarea {
      width: 100%;
      min-height: 200px;
      padding: 10px 20px;
      outline: none;
      border: 1px solid var(--color-secondary);
      border-radius: 16px;
      color: var(--color-light);
      background-color: inherit;
    }

    & > span {
      color: var(--color-content-error);
    }
  }

  
}