.header {
  padding-top: 64px;
  padding-bottom: 64px;

  &__list {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__link {
    padding: 6px;
    border-bottom: 1px solid var(--color-light);
    transition: color .3s ease-in-out;
  }

  &__link:hover {
    color: var(--color-secondary-disabled)
  }
}